@import url('https://fonts.googleapis.com/css?family=Barlow');

body{
	background-color: #000;
}

.sp-container {
	background: url("../images/bg.jpg");
	background-size: cover;
    position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 0;
	

}
.sp-content {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	z-index: 1000;
}
.sp-container h2 {
	position: absolute;
	top: 5%;
	line-height: 100px;
	height: 90px;
	margin-top: -50px;
	font-size: 40px;
	width: 100%;
	text-align: center;
	color: transparent;
	-webkit-animation: blurFadeInOut 3s ease-in backwards;
	-moz-animation: blurFadeInOut 3s ease-in backwards;
	-ms-animation: blurFadeInOut 3s ease-in backwards;
	animation: blurFadeInOut 3s ease-in backwards;
}
.sp-container h2.frame-1 {
	-webkit-animation-delay: 0s;
	-moz-animation-delay: 0s;
	-ms-animation-delay: 0s;
	animation-delay: 0s;
}
.sp-container h2.frame-2 {
	-webkit-animation-delay: 3s;
	-moz-animation-delay: 3s;
	-ms-animation-delay: 3s;
	animation-delay: 3s;
}

@-webkit-keyframes blurFadeInOut {
	0% {
		opacity: 0;
		text-shadow: 0px 0px 40px #fff;
		-webkit-transform: scale(1.3);
	}
	20%, 75% {
		opacity: 1;
		text-shadow: 0px 0px 1px #fff;
		-webkit-transform: scale(1);
	}
	100% {
		opacity: 0;
		text-shadow: 0px 0px 50px #fff;
		-webkit-transform: scale(0);
	}
}
@-webkit-keyframes blurFadeIn {
	0% {
		opacity: 0;
		text-shadow: 0px 0px 40px #fff;
		-webkit-transform: scale(1.3);
	}
	50% {
		opacity: 0.5;
		text-shadow: 0px 0px 10px #fff;
		-webkit-transform: scale(1.1);
	}
	100% {
		opacity: 1;
		text-shadow: 0px 0px 1px #fff;
		-webkit-transform: scale(1);
	}
}
@-webkit-keyframes fadeInBack {
	0% {
		opacity: 0;
		-webkit-transform: scale(0);
	}
	50% {
		opacity: 0.4;
		-webkit-transform: scale(2);
	}
	100% {
		opacity: 0.2;
		-webkit-transform: scale(5);
	}
}
@-webkit-keyframes fadeInRotate {
	0% {
		opacity: 0;
		-webkit-transform: scale(0) rotate(360deg);
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1) rotate(0deg);
	}
}
/**/

@-moz-keyframes blurFadeInOut {
	0% {
		opacity: 0;
		text-shadow: 0px 0px 40px #fff;
		-moz-transform: scale(1.3);
	}
	20%, 75% {
		opacity: 1;
		text-shadow: 0px 0px 1px #fff;
		-moz-transform: scale(1);
	}
	100% {
		opacity: 0;
		text-shadow: 0px 0px 50px #fff;
		-moz-transform: scale(0);
	}
}
@-moz-keyframes blurFadeIn {
	0% {
		opacity: 0;
		text-shadow: 0px 0px 40px #fff;
		-moz-transform: scale(1.3);
	}
	100% {
		opacity: 1;
		text-shadow: 0px 0px 1px #fff;
		-moz-transform: scale(1);
	}
}
@-moz-keyframes fadeInBack {
	0% {
		opacity: 0;
		-moz-transform: scale(0);
	}
	50% {
		opacity: 0.4;
		-moz-transform: scale(2);
	}
	100% {
		opacity: 0.2;
		-moz-transform: scale(5);
	}
}
@-moz-keyframes fadeInRotate {
	0% {
		opacity: 0;
		-moz-transform: scale(0) rotate(360deg);
	}
	100% {
		opacity: 1;
		-moz-transform: scale(1) rotate(0deg);
	}
}
/**/

@keyframes blurFadeInOut {
	0% {
		opacity: 0;
		text-shadow: 0px 0px 40px #fff;
		transform: scale(1.3);
	}
	20%, 75% {
		opacity: 1;
		text-shadow: 0px 0px 1px #fff;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		text-shadow: 0px 0px 50px #fff;
		transform: scale(0);
	}
}
@keyframes blurFadeIn {
	0% {
		opacity: 0;
		text-shadow: 0px 0px 40px #fff;
		transform: scale(1.3);
	}
	50% {
		opacity: 0.5;
		text-shadow: 0px 0px 10px #fff;
		transform: scale(1.1);
	}
	100% {
		opacity: 1;
		text-shadow: 0px 0px 1px #fff;
		transform: scale(1);
	}
}
@keyframes fadeInBack {
	0% {
		opacity: 0;
		transform: scale(0);
	}
	50% {
		opacity: 0.4;
		transform: scale(2);
	}
	100% {
		opacity: 0.2;
		transform: scale(5);
	}
}
@keyframes fadeInRotate {
	0% {
		opacity: 0;
		transform: scale(0) rotate(360deg);
	}
	100% {
		opacity: 1;
		transform: scale(1) rotate(0deg);
	}
}


.bmenu{
	padding: 50px 0px;
	margin-top: 10%;
	margin-left: 35%;
	position: relative;
	background: rgba(0,0,0,0.7);
	width: 400px;
	height: 300px;
	-webkit-border-radius: 250px;
	-moz-border-radius: 250px;
	border-radius: 250px;
	-webkit-transition: background-color 0.5s ease-in-out;
	-moz-transition: background-color 0.5s ease-in-out;
	-o-transition: background-color 0.5s ease-in-out;
	-ms-transition: background-color 0.5s ease-in-out;
	transition: background-color 0.5s ease-in-out;
}
.bmenu:hover{
	background: rgba(0,0,0,0.2);
}
.bmenu li{
	font-size: 30px;
	display: block;
	line-height: 66px;
}
.bmenu li a{
	white-space: nowrap;
	color: transparent;
	display: block;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 0px 0px 3px #fff;
	letter-spacing: 1px;
	-moz-transform: scale(0.8); 
	-ms-transform: scale(0.8); 
	-o-transform: scale(0.8); 
	-webkit-transform: scale(0.8); 
	transform: scale(0.8);
	-webkit-transition: all 0.4s linear;
	-moz-transition: all 0.4s linear;
	-o-transition: all 0.4s linear;
	-ms-transition: all 0.4s linear;
	transition: all 0.4s linear;
}
.bmenu:hover li a{
	text-shadow: 0px 0px 10px #fff;
}
.bmenu li a:hover{
	text-shadow: none;
	color: #fff;
	background: rgba(129,6,29,0.8);
	-moz-transform: scale(1); 
	-ms-transform: scale(1); 
	-o-transform: scale(1); 
	-webkit-transform: scale(1); 
	transform: scale(1); 
}


@font-face {
    font-family: 'WebSymbolsRegular';
    src: url('websymbols/websymbols-regular-webfont.eot');
    src: url('websymbols/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('websymbols/websymbols-regular-webfont.woff') format('woff'),
         url('websymbols/websymbols-regular-webfont.ttf') format('truetype'),
         url('websymbols/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*project.html style*/
.container{
	background-color: #000;
}

.ca-menu{
	
	list-style-type: none;
    padding: 0;
	height: 250px;
	width: 250px;
	position: relative;
	float: left;
	margin :20px 30px;
	
}
.ca-menu img{
	border:rgba(150, 4, 31, 0.8) double 3px;
	width: 250px;
	height: 250px;
	float: left;
}

.ca-menu li  {
	width: 250px;
	height: 250px;
	text-decoration: none;	
   
   
}
.ca-sub{
    text-align:center;
    font-size: 18px;
    color: #666;
    line-height: 40px;
    opacity: 0.8;
    position: absolute;
	margin-top: 0px;
	
    width: 256px; 
    transition: all 200ms linear;
}

.ca-menu li:hover{
    background-color: #000;
}
.ca-menu li:hover .ca-icon{
    color: red;
    animation: moveFromBottom 300ms ease;
}
.ca-menu li:hover .ca-main{
    color:red;
    animation: smallToBig 300ms ease;
}
.ca-menu li:hover .ca-sub{
    color: #000;
    background-color: red;
    animation: moveFromBottom 500ms ease;
}
@keyframes smallToBig{
    from {
        transform: scale(0.1);
    }
    to {
        transform: scale(1);
    }
}

/*About.html style*/
.mainesection{
    background-color: #000;
	padding: 5px;
	margin:20px auto;
    border:3px double  rgba(150, 4, 31, 0.8);
    width: 960px;
}
hr{
	border-color:rgba(150, 4, 31, 0.8);
}
.title{
    text-align: center;
	background-color: rgba(150, 4, 31, 0.8);
	color:#000;
    margin:0;
    padding:5px;
    font-size: 20px;
    font-weight: bolder;
}

.clearfix::after{
    content: "";
    clear: both;
    display: table;
    padding:5px;

}

.image1 {
    float: left;
    width: 300px;
    height: 300px;
    padding:15px;
	padding-top:0;
	
}
.text{
	
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
	line-height: 35px;
	color:  rgba(150, 4, 31, 0.8);


}

/*contact.html style*/
.sidebar {
	background: rgba(150, 4, 31, 0.8);
	padding: 30px;
	width: 100%;
	max-width: 270px;
	float: right;
	border: 1px solid #ddd;
	margin-top: 45px;
	margin-right: 30px;
}
#connect{
	text-align: center;
}
h3,
.sidebar h2 {
	border-bottom: 2px solid #eee;
	padding-bottom: 20px;
	margin-bottom: 15px;
	line-height: 22px;
}
.social {
	width: 62px;
	height: 62px;
	margin-top: 8px;
	margin-right: 5px;
}
.social:last-child {
	margin-right: 0;
}

label {
	color:rgba(150, 4, 31, 0.8);
	font-size: 16px;
	font-weight: bold;
	
}
#contact-form ul {
	margin-bottom: 20px;
}
#contact-form li {
	margin-bottom: 10px;
}
label,
input[type=text],
input[type=email],
textarea {
	display: block;
	width: 50%;
}
input[type=text],
input[type=email],
textarea {
	background-color: rgb(247, 176, 176);
	height: 35px;
	border: 1px solid rgb(238, 140, 140);
	padding:0 10px;
	font-size: 14px;
	
}
textarea {
	height: 200px;
}
input[type=submit] {
	background: rgba(150, 4, 31, 0.8);;
	border: 0 none;
	color: #fff;
	font-size: 18px;
	padding: 10px 30px;
	cursor: pointer;
	width: 20%;
	margin-left: 180px;
}
